@model List<AayushMandavya.Models.student>
@{
    ViewBag.Title = "mainview1";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int sn = 0;
}

<h2>Student Table</h2>

<table class="table" border="1">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Contact</th>
    </tr>
    @foreach (var data in Model)
    {
        <tr>
            <td>@(++sn)</td>
            <td>@(data.name)</td>
            <td>@(data.phone)</td>
            

        </tr>
    }
</table>



